.header {
  font-size: 24px;
  display: inline-block;
  align-items: center;
}
.container {
  align-items: center;
  margin: 100px;
  text-align: center;
  font-style: normal;
}
.adjustment {
  margin: 40px;
}
.weather-container {
  display: center;
  text-align: center;
  margin: 10px;
}
